@mixin flex($a: center, $c: center) {
  display: flex;
  align-items: $a;
  justify-content: $c;
}

@mixin size($h, $w){
  height: $h;
  width: $w;
}

@mixin mobile{
  @media(max-width:625px){
    @content;
  }
}

@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
